// general content elements:
body {
    background: white;
}

@mixin content-sec {
    margin: 0 auto;
    padding: 3.75rem 0rem 3.75rem 0rem;
    h1 {
        margin-bottom: 1.875rem;
        text-align: center;
        text-transform: uppercase;
    }
    h2 {
        margin-bottom: 1.875rem;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        padding-bottom: 2.5rem;
    }
;
}

@mixin content-sec-route {
    @include content-sec;
    padding: 3.75rem 0rem 0rem 0rem;
    p {
        padding-bottom: 0rem;
    }
}

ul.accordion {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.accordion-navigation {
    padding-bottom: .1875rem;
}

.big-content {
    @include grid-column(
    $columns: 10,
    $last-column: true,
    $center: true,
    $offset: 1,
    $collapse: false,
    $float: right
    );
    @include content-sec;
}

.big-content-route {
    @include grid-column(
    $columns: 10,
    $last-column: true,
    $center: true,
    $offset: 1,
    $collapse: false,
    $float: right
    );
    @include content-sec-route;
}

.normal-content {
    @include grid-column(
    $columns: 8,
    $last-column: true,
    $center: true,
    $offset: 2,
    $collapse: false,
    $float: right
    );
    @include content-sec;
}

.normal-content-first {
    @extend .normal-content;
    padding: 3.75rem 0 0 0;
}

.normal-content-route {
    @include grid-column(
    $columns: 8,
    $last-column: true,
    $center: true,
    $offset: 2,
    $collapse: false,
    $float: right
    );
    @include content-sec-route;
}

.small-content {
    @include grid-column(
    $columns: 6,
    $last-column: true,
    $center: true,
    $offset: 3,
    $collapse: false,
    $float: right
    );
    @include content-sec;
}

.small-content-route {
    @include grid-column(
    $columns: 6,
    $last-column: true,
    $center: true,
    $offset: 3,
    $collapse: false,
    $float: right
    );
    @include content-sec-route;
}

.small-content-contact {
    @extend .small-content;
    padding: 0;
}

// Basic stuff
html {
    max-width: 1920px;
}

iframe {
    height: 29rem;
    width: 100%;
}

.divider {
    height: 1px;
    border-right: 1px solid white;
    padding: 0 0 0 0;
    margin: 0 .5rem;
    font-size: .55rem;
}

.footer {
    margin: .8rem;
    padding: 0;
    li {
        display: inline;
        padding: 0 0 0 0;
        font-size: .85rem;
    }

    @extend .normal-content
}

footer {
    background: $nikabraun;
    color: white;
    padding: 2rem 0 2rem 0;
    a {
        color: white;
    }
    a:hover {
        color: white;
        padding-bottom: .3rem;
        border-bottom: 1px solid white;
    }
}

strong {
    font-family: RobotoRegular;
    font-size: 1.25;
}

#logo {
    margin: 0 0 0 0;
    height: 5rem;
}

.nav-wrapper {
    min-width: 100%;
    background: rgba(255, 255, 255, 0.85);
}

.top-bar-section {
    margin: 0 0 0 0;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #555555;
    background: transparent;
    padding-bottom: -10px;
    border-bottom: 1px solid $rot;
}

// Index page
.line-dark {
    text-transform: uppercase;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid $nikagrau;
    margin-bottom: 2.5rem;
}

.line-light {
    text-transform: uppercase;
    padding-bottom: 0.625rem;
    border-bottom: 1px solid $white;
    margin-bottom: 2.5rem;
}

#about h3 {
    color: $nikagrau;
}

#team h2, h3, h4 {
    color: $white;
}

#signup {
    background: $rot;
}

.white {
    color: $white;
}

#signup h2, h3 {
    color: $white;
}

#team {
    background: $blau;
}

.teampic {
    height: 12rem;
    width: 12rem;
    margin-bottom: 1.25rem;
    border-radius: 80%;
}

.routepic {
    margin: 1rem auto;
    width: 11rem;
    border-radius: 80%;
    border: 3px solid white;
}

.social-team {
    height: 1.5rem;
    width: auto;
}

.social {
    margin-bottom: -16px;
    height: 1.8rem;
    width: auto;
}

.sma {
    height: 6rem;
    width: 6rem;
}

#stoerer {
    margin-top: -50%;
    margin-left: 70%;
    height: 5.5rem;
    width: auto;
}

.content-div {
    padding-bottom: 3.75rem;
}

.entry {
    padding-bottom: 1rem;
}

.blogpic {
    max-width: 8rem;
    height: 8rem;
}

// other special pages:
.accordion-overview {
    @extend .accordion-navigation
}

.accordion .accordion-overview > a {
    background: $braun;
    color: #fff;
    display: block;
    padding: 1rem;
}

.impressum {
    padding-top: 0rem;
    h2 {
        font-size: 1.5rem;
        text-align: left;
    }
    h1 {
        margin-bottom: 2rem;
    }
}

// Ridiculously Responsive Social Sharing Buttons
// Team: @dbox, @joshuatuscan
// Site: http://www.kurtnoble.com/labs/rrssb
// Twitter: @therealkni

//        ___           ___
//       /__/|         /__/\        ___
//      |  |:|         \  \:\      /  /\
//      |  |:|          \  \:\    /  /:/
//    __|  |:|      _____\__\:\  /__/::\
//   /__/\_|:|____ /__/::::::::\ \__\/\:\__
//   \  \:\/:::::/ \  \:\~~\~~\/    \  \:\/\
//    \  \::/~~~~   \  \:\  ~~~      \__\::/
//     \  \:\        \  \:\          /__/:/
//      \  \:\        \  \:\         \__\/
//       \__\/         \__\/

// How to use: Add/remove buttons from config settings and $social-list.

// Config settings
$rrssb-txt: #fff !default;
$rrssb-email: #0a88ff !default;
$rrssb-facebook: #306199 !default;
$rrssb-tumblr: #32506d !default;
$rrssb-linkedin: #007bb6 !default;
$rrssb-twitter: #26c4f1 !default;
$rrssb-googleplus: #e93f2e !default;
$rrssb-reddit: #8bbbe3 !default;
$rrssb-youtube: #df1c31 !default;
$rrssb-pinterest: #b81621 !default;
$rrssb-pocket: #ED4054 !default;
$rrssb-github: #444 !default;
$rrssb-instagram: #517fa4 !default;

// Set the border radius for the buttons
$rrssb-border-radius: 2px !default;

$rrssb-main-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Variable list for all social button colors to be iterated over.
$social-list: (
    rrssb-email $rrssb-email,
    rrssb-facebook $rrssb-facebook,
    rrssb-tumblr $rrssb-tumblr,
    rrssb-linkedin $rrssb-linkedin,
    rrssb-twitter $rrssb-twitter,
    rrssb-googleplus $rrssb-googleplus,
    rrssb-youtube $rrssb-youtube,
    rrssb-reddit $rrssb-reddit,
    rrssb-pinterest $rrssb-pinterest,
    rrssb-pocket $rrssb-pocket,
    rrssb-github $rrssb-github,
    rrssb-instagram $rrssb-instagram
);

@mixin transition($expression) {
    -webkit-transition: $expression;
    -moz-transition: $expression;
    -o-transition: $expression;
    transition: $expression;
}

%backface-visibility {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

%border-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// some generic classes
.clearfix {
    *zoom: 1;

    &:after {
        clear: both;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }
}

// The meat and potatoes
.rrssb-buttons {
    @extend %border-box;
    font-family: $rrssb-main-font;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
        @extend %border-box;
        float: left;
        height: 100%;
        line-height: 13px;
        list-style: none;
        margin: 0;
        padding: 0 2.5px;

        // This generates individual button classes for each item in social list on line 39.
        @each $s-name in $social-list {

            &.#{nth($s-name, 1)} {
                a {
                    background-color: nth($s-name, 2);

                    &:hover {
                        background-color: darken(nth($s-name, 2), 10%);
                    }
                }
            }

        }
        // end @each directive

        a {
            @extend %border-box;
            background-color: #ccc;
            border-radius: $rrssb-border-radius;
            display: block;
            font-size: 11px;
            font-weight: bold;
            height: 100%;
            padding: 11px 7px 12px 27px;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            @include transition(background-color 0.2s ease-in-out);

            .rrssb-icon {
                display: block;
                height: 100%;
                left: 10px;
                padding-top: 9px;
                position: absolute;
                top: 0;
                width: 10%;

                svg {
                    height: 17px;
                    width: 17px;

                    path, polygon {
                        fill: $rrssb-txt;
                    }
                }
            }

            .rrssb-text {
                color: $rrssb-txt;
            }

            &:active {
                box-shadow: inset 1px 3px 15px 0 rgba(022, 0, 0, .25);
            }
        }

        &.small {
            a {
                padding: 0;

                .rrssb-icon {
                    height: 100%;
                    left: auto;
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;
                    top: auto;
                    width: 100%;
                }
                .rrssb-text {
                    visibility: hidden;
                }
            }
        }
    }

    &.large-format {
        height: auto;

        li {
            height: auto;

            a {
                border-radius: 0.2em;
                font-size: 15px; // fallback
                font-size: 1vw; // scales font with browser
                line-height: 1vw;
                padding: 7% 0% 7% 12%;
                @extend %backface-visibility;

                .rrssb-icon {
                    left: 7%;
                    padding-top: 0;
                    width: 12%;

                    svg {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                    }
                }

                .rrssb-text {
                    font-size: 15px;
                    font-size: 1vw;
                    @extend %backface-visibility;
                }

                &:hover {
                    font-size: 15px;
                    font-size: 1vw;
                    padding: 7% 0% 7% 12%;
                    border-radius: 0.2em;
                }
            }
        }
    }

    &.small-format {
        padding-top: 5px;

        li {
            height: 80%;
            padding: 0 1.5px;

            a {
                .rrssb-icon {
                    height: 100%;
                    padding-top: 0;

                    svg {
                        height: 48%;
                        position: relative;
                        top: 6px;
                        width: 80%;
                    }
                }
            }
        }
    }

    &.tiny-format {
        height: 22px;
        position: relative;

        li {
            padding-right: 7px;

            a {
                background-color: transparent;
                padding: 0;

                .rrssb-icon {
                    svg {
                        height: 70%;
                        width: 100%;
                    }
                }

                &:hover, &:active {
                    background-color: transparent;
                }
            }

            // This generates individual button classes for each item in social list on line 39.
            @each $s-name in $social-list {

                &.#{nth($s-name, 1)} {
                    a {
                        .rrssb-icon {
                            svg {
                                path, polygon {
                                    fill: nth($s-name, 2);
                                }
                            }

                            &:hover {
                                .rrssb-icon {
                                    svg {
                                        path, polygon {
                                            fill: darken(nth($s-name, 2), 20%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // end @each directive
        }
    }
}

// Sign up Form:
.mc-loading button {
    background: #2c3e50 url("../img/loading.gif") center center no-repeat;
    text-indent: -9999px;
}

.mc-response {
    margin: 25px 0;
    -webkit-animation: fadeIn .6s ease both;
    animation: fadeIn .6s ease both;
}

.mc-success {
    color: $blau;
}

.mc-error form {
    color: white;
    -webkit-animation: formError .4s ease both;
    animation: formError .4s ease both;
}

// social bar
.social-bar {
    ul {
        margin: 0;
        display: inline;
    }
    display: inline;
    z-index: 5;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;

}

.social-bar li {
    display: inline;
    width: 45px;
    height: 45px;

}

.social-bar li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #222;
    font: normal normal normal 1.3rem/1.7rem 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    transition: background .4s ease .300ms
}

@media #{$medium-up} {
    .social-bar {
        ul {
            margin-left: 0;
            display: block;
        }
        margin: 0;
        left: 0;
        width: 60px;
        position: fixed;
        top: 150px;
    }

    .social-bar li a {
        display: block;
        height: 60px;
        width: 60px;
        background: #222;
        font: normal normal normal 1.3rem/1.7rem 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        padding: 15px;
        text-decoration: none;
        text-align: center;
        transition: background .4s ease .300ms
    }
}

.social-bar li:first-child a {
    background: #3b5998
}

.social-bar li:first-child a:hover {
    background: scale-color(#3b5998, $lightness: -11%)
}

.social-bar li:nth-child(2) a {
    background: #00acee
}

.social-bar li:nth-child(2) a:hover {
    background: scale-color(#00acee, $lightness: -11%)
}

.social-bar li:nth-child(3) a {
    background: #cc3732
}

.social-bar li:nth-child(3) a:hover {
    background: scale-color(#cc3732, $lightness: -11%)
}

.social-bar li a span {
    width: 100px;
    float: left;
    text-align: center;
    background: #222;
    color: #fff;
    margin: -25px 74px;
    padding: 0px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 5px;
    transition: all .5s ease .300ms
}

/* .social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

 .social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
} */

// Slider appearance
/* Slider */
.galerie {
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 130px;
    display: inline;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 120px;
    width: 50px;
    line-height: 0px;
    font-size: 45px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 0%;
    margin: auto 0px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $font-awesome;
    font-size: 120px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
}

.slick-prev {
    left: -60px;
    [dir="rtl"] & {
        left: auto;
        right: 0px;
    }
    &:before {
        content: "\f104";
        [dir="rtl"] & {
            content: "\f105";
        }
    }
}

.slick-next {
    right: -50px;
    [dir="rtl"] & {
        left: 0px;
        right: auto;
    }
    &:before {
        content: "\f105";
        [dir="rtl"] & {
            content: "\f104";
        }
    }
}

/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.preview {
    border: 1px dotted $nikagrau;
    padding: 1.5rem;
}

    //The accordion is closed
.accordion-icon:before {
    padding-left: 1rem;
    content: "\f067";
}

//The accordion is open
.active .accordion-icon:before {
    content: "\f068";
}

// Media Queries

@media #{$medium-up} {
    #stoerer {
        margin-top: -45%;
        margin-left: 75%;
        height: 8rem;
        width: auto;
    }
    .entry {
        border-right: 1px solid $nikagrau;
        height: 10rem;
        padding-bottom: 0;
    }

    .nav-wrapper {
        min-width: 100%;
        background: rgba(255, 255, 255, 0.85);
        position: absolute;
    }
    .impressum {
        padding-top: 10rem;
        h2 {
            font-size: 1.5rem;
            text-align: left;
        }
        h1 {
            margin-bottom: 2rem;
        }
    }
}

;

@media #{$large-up} {
    #stoerer {
        margin-top: -50%;
        margin-left: 79%;
        height: 9rem;
        width: auto;
    }
}

@media #{$xlarge-up} {
    #stoerer {
        margin-top: -65%;
        margin-left: 90%;
        height: 10rem;
        width: auto;
    }
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.2 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
    .featherlight {
        display: none;

        /* dimensions: spanning the background from edge to edge */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647; /* z-index needs to be >= elements on the site. */

        /* position: centering content */
        text-align: center;

        /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
        white-space: nowrap;

        /* styling */
        cursor: pointer;
        background: #333;
        /* IE8 "hack" for nested featherlights */
        background: rgba(0, 0, 0, 0);
    }

    /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
    .featherlight:last-of-type {
        background: rgba(0, 0, 0, 0.8);
    }

    .featherlight:before {
        /* position: trick to center content vertically */
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .featherlight .featherlight-content {
        /* make content container for positioned elements (close button) */
        position: relative;

        /* position: centering vertical and horizontal */
        text-align: left;
        vertical-align: middle;
        display: inline-block;

        /* dimensions: cut off images */
        overflow: auto;
        padding: 25px 25px 0;
        border-bottom: 25px solid transparent;

        /* dimensions: handling small or empty content */
        min-width: 30%;

        /* dimensions: handling large content */
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;

        /* styling */
        background: #fff;
        cursor: auto;

        /* reset white-space wrapping */
        white-space: normal;
    }

    /* contains the content */
    .featherlight .featherlight-inner {
        /* make sure its visible */
        display: block;
    }

    .featherlight .featherlight-close-icon {
        /* position: centering vertical and horizontal */
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;

        /* dimensions: 25px x 25px */
        line-height: 25px;
        width: 25px;

        /* styling */
        cursor: pointer;
        text-align: center;
        font: Arial, sans-serif;
        background: #fff; /* Set the background in case it overlaps the content */
        background: rgba(255, 255, 255, 0.3);
        color: #000;
    }

    .featherlight .featherlight-image {
        /* styling */
        width: 100%;
    }

    .featherlight-iframe .featherlight-content {
        /* removed the border for image croping since iframe is edge to edge */
        border-bottom: 0;
        padding: 0;
    }

    .featherlight iframe {
        /* styling */
        border: none;
    }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        /* dimensions: maximize lightbox with for small screens */
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;

        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }
}
.hide-form {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}
