        <div class="footer">
            <footer>
            <div class="row">
                <div class="small-4 columns">
                	<ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#team">Team</a></li>  
                    </ul>             
                </div>
                <div class="small-4 columns">
                    <ul class="no-bullet text-center">
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#signup">Sign Up</a></li>
                		<li><a href="#contact">Contact</a></li>  
                    </ul>
                </div>
                <div class="small-4 columns">
                    <ul class="no-bullet text-right">
                        <li><a href="/datenschutz.html">Privacy Policy</a></li>
                        <li><a href="/impressum.html">Impressum</a></li>
                    </ul>
                </div>
                </div>
                <p class="text-center"><small>Copyright Trackfellas 2015</small></p>

            </footer>
        </div>