<aside>
<ul class='social'>
  <li>
    <a target="popup" onclick="window.open('', 'popup', 'width=580,height=360,scrollbars=no, toolbar=no,status=no,resizable=yes,menubar=no,location=no,directories=no,top=10,left=10')"  class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://tfl.la/cubaroute">
    <span>Facebook</span>
    </a>
  </li>
  <li>
    <a target="popup" onclick="window.open('', 'popup', 'width=580,height=360,scrollbars=no, toolbar=no,status=no,resizable=yes,menubar=no,location=no,directories=no,top=10,left=10')"   class="fa fa-twitter" href="http://twitter.com/home?status=http://tfl.la/cubaroute" >
      <span>Twitter</span>
    </a>
  </li>
  <li>
    <a target="popup" onclick="window.open('', 'popup', 'width=580,height=360,scrollbars=no, toolbar=no,status=no,resizable=yes,menubar=no,location=no,directories=no,top=10,left=10')"    class="fa fa-google-plus" href="https://plus.google.com/share?url=Check%20out%20this%20rTrackfellas%20post:%20http://tfl.la/cubaroute">
    <span>Google Plus</span>
    </a>
  </li>
</ul>
</aside>
