<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://tfl.la/cubaroute" class="entypo-facebook popup"><span>Facebook</span></a></li>
        <li><a href="http://twitter.com/home?status=http://tfl.la/cubaroute" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
        <li><a href="https://plus.google.com/share?url=Check%20out%20this%20rTrackfellas%20post:%20http://tfl.la/cubaroute" class="entypo-gplus" target="_blank"><span>Google+</span></a></li>
    </ul>
</aside>
