<section>
    <div class="big-content impressum">
        <h1 class="text-center">Impressum</h1>
        <ul class="small-block-grid-2">
            <li>
                <h2>Trackfellas GbR</h5>
                <p>Schönhauser Allee 109
                <br>10439 Berlin</p>
            </li>
            <li>
                <h2>Vertreten durch:</h5>
                <p>Niklas Hofmann<br>Moritz Hubl<br>Lucas Michot</p>
            </li>
            <li>
                <h2>Kontakt:</h5>
                <p>030 / 400577 95<br>E-Mail: team@trackfellas.com</p>
            </li>
            <li>
                <h2>Inhaltlich verantwortlich:</h5>
                <p>Moritz Hubl<br>Greifswalder Straße 37<br>10405 Berlin</p>
            </li>
            <li>
                <h2>Bildnachweise:</h5>
                <p><a href="http://unsplash.com">Unsplash.com</a>, <a href="http://lifeofpix.com">LifeofPix.com</a>,
                    <a href="http://isorepublic.com">IsoRepublic.com</a>,
                    <a href="http://startupstockphotos.com">StartupStockPhotos.com</a>,
                    <a href="http://stock-image-point.com">Stock-Image-Point.com</a>,
                    <a href="http://stockphotosforfree.com">StockPhotosforfree.com</a>,
                    <a href="http://skitterphoto.com">SkitterPhoto.com</a>,
                    <a href="http://goodstock.photos">GoodStock.photos</a>,
                    <a href="http://snapwiresnaps.tumblr.com">Snapwiresnaps.tumblr.com</a>,
                    <a href="http://travelcoffeebook.com">TravelCoffeeBook.com</a>,
                    <a href="http://picjumbo.com">PicJumbo.com</a>,
                    <a href="http://phoho.de">Phoho.de (Fotograf:Lukas Hofmann)</a></p>
            </li>
        </ul>
</section>
