<section>
        <%- image_tag( 'img/route_hero.jpg', {alt: 'Street Desert', class: 'hero'}) %>
    <div class="normal-content">
    <h1>Routes</h1>
    <p>Here you find some routes by our Trackfellas. Explore them, share them and give us feedback. You can also always contact the one who did the trip for more advice</p>

    <div class="preview text-center">
    <a href="<%- url_for('/route/Cuba-Southeast-Tour') %>">
    <h2>Cuba Southeast Tour</h2>
        <%- image_tag( 'img/havanna.jpg', {alt: 'Old Car in Havanna', class: 'hero'}) %>
        <p> Nika explores a bit of Cuba</p>
        </a>
    </div>
        </div>
</section>
